[Unit]
Description=Fan Control
After=network.target

[Service]
ExecStart=/opt/fan_control
Restart=always
# Environment=FAN_PIN=23
# Environment=THERMAL_ZONE=thermal_zone0
# Environment=TRIGGER_OFF=60
# Environment=TRIGGER_ON=70
# Environment=RUST_LOG=info

[Install]
WantedBy=multi-user.target
